/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.flex{
    display: flex;
    
}

.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.ht-60{
    height: 60px;
}

.ht-30{
    height: 30px;
}

.ht-350{
    height: 350px;
}

.ht-450{
    height: 450px;
}

.ht-500{
    height: 500px;
}

.ht-600{
    height: 600px;
}

.bg-sky{
    background-color: #ADD8E6;
}

.bg-yellow{
    background-color: #DAA520;
}

.bg-blue{
    background-color: #00008B;
}

.bg-pink{
    background-color: #EE82EF;
}

.bg-white{
    background-color: #fff;
}

.bg-grey{
    background-color: #D3D3D3;
}

.bg-lt-blue{
    background-color: #1F90FF;
}

.bg-salmon{
    background-color: #FFC0CA;
}

.bg-black{
    background-color: #23272A;
}

.dsp-inbl{
    display: inline-block;
}

/* Header */
header{
 align-items: center;
}

.header-bar{
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

/* Hero */


.hero-content{
    width: 50%;
    margin: 40px auto;
    border-radius: 5px;
}

/* Main */

.main-box{
    width: 100%;
    margin: 0 auto;  
}

.main-box{
    width: 60%;
    margin: 0 auto;
    
}



.box-content{
    width: 60%;
    margin: 40px auto;
    border-radius: 5px;

}
.box-content-rx{
    width: 40%;
    margin: 40px auto;
    border-radius: 5px;

}