/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.flex{
    display: flex;
}

.ht-60{
    height: 60px;
}

.ht-30{
    height: 30px;
}

.ht-400{
    height: 400px;
}

.bg-sky{
    background-color: #ADD8E6;
}

.bg-yellow{
    background-color: #DAA520;
}

.bg-blue{
    background-color: #00008B;
}

.bg-pink{
    background-color: #EE82EF;
}

.dsp-inbl{
    display: inline-block;
}

/* Header */
header{
 align-items: center;
}

.header-bar{
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

/* Hero */
.hero{
    
}

.hero-content{
    width: 50%;
    margin: 50px auto;
    border-radius: 3px;
}